{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-6 inline">
                    <h1>Recherche</h1>
                    {{form(search_form)}}
            </div>
        </div>
        {% if app.request.method == 'POST' %}
        <div class="row">
            <div class="container"> 
                {% if cars == 0 %}                               
                    <p>Pas de résultats</p>
                {% else %}
                    <h3>Résultats de la recherche</h3>                   
                {% for car in cars %}
                    <div>
                        <h4>Modèle: {{car.model}} </h4>
                        <h4>Prix: {{car.price}} </h4>
                        {% if car.image.name is defined %}
                            <img src=" {{asset('images/')~car.image.name}} " alt="">
                        {% else %}
                            <p>Pas d'image</p>
                        {% endif %}

                        {% for keyword in car.keywords %}
                            <p> {{keyword.name}} {% if not loop.last %}, {% endif %} </p>
                        {% endfor %}

                        {% if car.cities | length > 0 %}
                            <p>Voiture disponible à : </p>
                            {% for city in car.cities %}
                                <a href="#" class="btn btn-primary"> {{city.name}} </a>
                            {% endfor %}
                        {% endif %}

                        <a href=" {{path('index')}} ">Accueil</a>
                        
                        
                    </div>
                {% endfor %}              
                
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
