{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-sm">
                <h1>Add car</h1>
                
                {% include "index/form.html.twig" %}
                {{form_end(form)}}               
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{{ parent() }}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function(){
        var $container = $('#car_keywords');
        var index = $container.find(':input').length;

        $('.addKeyword').click(function(e){
            e.preventDefault();

            addKeyword($container);
        })

        function addKeyword($container){
            var template = $container.attr('data-prototype')
            .replace(/__name__label/g, 'Mot-clé n°' + (index + 1))
            .replace(/__name/g, index)
            ;

            var $prototype = $(template);
            $container.append($prototype); 

            index ++;
        }
    });
</script>
{% endblock %}