{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout d'une nouvelle voiture</h1>
    {% include "index/form.html.twig" %}
    <button class="btn btn-success" type="submit" name="action">Editer</button>
    {{form_end(form)}}

    {% endblock %}