{{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="input-group col-s12">
{{form_label(form.model, 'model: ', {label_attr: {'class': 'form_model'}})}}
{{form_widget(form.model)}}
<span style="color: red"><strong> {{form_errors(form.model)}} </strong></span>
</div>

<div class="input-group col-s12"></div>
{{form_label(form.price)}}
{{form_widget(form.price)}}
<span style="color: red"><strong> {{form_errors(form.price)}} </strong></span>
</div>

<div class="input-group col-s12">
    <div class="btn">
        <span>Ajouter une image</span>
        {{form_row(form.image)}}
    </div>
    <div class="input-group wrapper">
        <input type="text" class="form-control">
    </div>
</div>

<div class="input-field col s12">
    <button class="addKeyword btn waves-effect waves-light">Ajouter un mot clé</button>
    {{form_widget(form.keywords)}}
</div>






