{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="section" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center ">Starter Template</h1>
        <div class="row center">
            <h5 class="header">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h5>
        </div>
        <div class="row center">
            <a href="{{path('add')}}" class="btn btn-primary">Ajout</a>
            <a href=" {{path('search_car')}} " class="btn btn-primary">Recherchez</a>
        </div>
        <br><br>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
               <ul>
                   {% for car in cars %}
                        <li>
                           <a href=" {{path("show", {id: car.id})}} "> {{car.model}} </a>
                           <a href=" {{path('edit', {id: car.id})}} " class="btn-large waves-effect waves-light orange darken-3">Edit</a>
                        </li>
                   {% endfor %}
               </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="fa fa-user-plus"></i></h2>
                <h5 class="center">Feature two</h5>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center"><i class="fa fa-cogs"></i></h2>
                <h5 class="center">Feature three</h5>
                <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
