{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <h1>Votre voiture avec l'id : {{ car.id }}</h1>
                <h3>Marque: {{ car.model }}</h3>
                <h3>Prix:  {{ car.price }}</h3>
                {% if car.image.name is defined %}
                <img src=" {{asset('image/')~car.image.name}} " alt="">
                {% else %}
                    <p>pas d'image</p>
                {% endif %}
{# 
                {% for keyword in car.keywords %}
                    <p> {{keyword.name}} {% if not loop.last %}, {% endif %}</p>
                {% endfor %} #}
                {% if car.cities | length > 0 %}
                <p>Voitures disponibles à : 
                
                    {% for city in car.cities %}
                        <a href="" class="btn btn-primary"> {{city.name}} </a>
                    {% endfor %} 
                </p>
                {% endif %}
                
                
               
            </div>
        </div>
    </div>
</div>

{% endblock %}